@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Anton';
    src: local('Anton'), url('./assets/fonts/Anton-Regular.ttf');
}

body {
    font-family: 'Anton';
}
